@import url(header.css);
@import url(sec1.css);
@import url(NEWS_tabmenu.css);
@import url(footer.css);

body {
  color: #1d1d1d;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
}

.wrap {
  width: 100%;
  position: relative;
  z-index: 999;
}

header,
footer,
section {
  width: 100%;
}

section {
  position: relative;
}

footer {
  position: relative;
  bottom: 0;
}

.wrap {
  width: 100%;
  position: relative;
  z-index: 999;
}

header, section, footer {
  width: 100%;
}


.mo {
  display: none;
}

@media all and (max-width:450px) {
  .mo {
      display: block;
  }

  .web {
      display: none;
  }
}

